@*Razor comments do not get spit out into the resulting HTML*@
@*Polymorphism - List/Array*@
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

@* Razor *@

<div class="row">
    @foreach (var product in Model)
    {
        @*Option 1: Use Razor in your HREF attribute
                <a class="btn btn-primary" href="/Product/Details/@product.ID">View this product</a>
                 Option 2: Use Razor tag helpers to generate the HREF *@
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@product.Image" alt="@product.Name">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <a class="btn btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@product.ID">View Product</a>
                <form method="post" asp-action="Details">
                    <input name="ID" value="@product.ID" type="hidden" />
                    <input type="submit" class="btn btn-primary" value="Add to Cart" />
                </form>
            </div>
        </div>
    }
</div>