@model IEnumerable<BoardGameHubUser>

@{
    ViewData["Title"] = "Find";
}

<h2>Games available for trade</h2>
<table class="table table-hover mytbl">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">User</th>
            <th scope="col"></th>
        </tr>
    </thead>
    @{ var count = 0;}
    @foreach (var user in Model)
    {
        @foreach (var item in user.Inventory.InventoryItems)
        {
            <tbody>
                <tr>
                    @if (item.IsTradeable)
                    {
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@user.UserName</td>
                        <td>
                            <a asp-controller="Trade" asp-action="Propose" asp-route-proposeeid="@user.Id" asp-route-id="@item.ID" class="btn btn-danger">Propose</a>
                        </td>
                        count++;
                    }
                </tr>
            </tbody>
        }
    }
</table>
@if (count == 0)
{
    <style>
        .mytbl {
            display: none;
        }
    </style>
}
<p class="lead mt-3">
    <a asp-action="Create" class="btn btn-primary">Add Item</a>
    <a class="btn btn-primary" asp-action="Inventory">View Inventory</a>
</p>
