@model Inventory

@{
    ViewData["Title"] = "Inventory";
}

@* Display inventory belonging to current user
@* Display all inventory items belonging to the inventory of that user *@

<h2><strong>@User.Identity.Name</strong>, you currently have @Model.InventoryItems.Count games in your inventory</h2>
<br />
@if (Model == null)
{
    <h2>@User.Identity.Name, your inventory is currently empty</h2>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Trade?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InventoryItems)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.IsTradeable</td>
                    <td>
                        @*<form asp-action="Delete" method="post">
                            <input type="hidden" asp-for="@item" />
                            <input type="submit" value="Delete" class="btn btn-sm" />
                        </form>*@
                        <form method="post" asp-action="Delete">
                            <input type="hidden" name="id" value="@item.ID" />
                            <input type="submit" value="Delete" class="btn btn-primary" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<p class="lead">
    <a asp-action="Create" class="btn btn-primary">Add Item</a>
    <a class="btn btn-primary" asp-action="Find">Find Trade</a>
</p>