@model Inventory

@{
    ViewData["Title"] = "Inventory";
}

@* Display inventory belonging to current user
    @* Display all inventory items belonging to the inventory of that user *@
@if (Model.InventoryItems.Count == 0)
{
    <h2><strong>@User.Identity.Name</strong>, your inventory is empty</h2>
}
else if (Model.InventoryItems.Count == 1)
{
    <h2><strong>@User.Identity.Name</strong>, you currently have @Model.InventoryItems.Count game in your inventory</h2>
}
else
{
    <h2><strong>@User.Identity.Name</strong>, you currently have @Model.InventoryItems.Count games in your inventory</h2>
}
<br />
@if (Model == null)
{
    <h2>@User.Identity.Name, your inventory is currently empty</h2>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Trade?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InventoryItems)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    @if (item.IsTradeable)
                    {
                        <td>Willing to trade</td>
                    }
                    else
                    {
                        <td>Not willing to trade</td>
                    }
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-primary">Edit</a>
                            <form class="inv" method="post" asp-action="Delete">
                                <input type="hidden" name="id" value="@item.ID" />
                                <input type="submit" value="Delete" class="btn btn-outline-primary" />
                            </form>
                            @if (item.IsWanted == true || item.IsGiving == true)
                            {
                                <a asp-controller="Proposal" asp-action="Details" asp-route-id="@item.ID" class="btn btn-success">Trade Pending</a>
                            }
                        </td>
                </tr>
            }
        </tbody>
    </table>
}

<p class="lead">
    <a asp-action="Create" class="btn btn-primary">Add Item</a>
    <a class="btn btn-primary" asp-action="Find">Find Trade</a>
</p>